<% include partials/header%>

<h1>Search page</h1>

<p> Enter the query term for movie:
<form action="/result" method="get">
  <input type="text" name="search">
  <button>Find movies</button>
</form>

<% include partials/footer%>